@font-face {
  font-family: "iconfont"; /* Project id 2974489 */
  src: url('iconfont.woff2?t=1650886229185') format('woff2'),
       url('iconfont.woff?t=1650886229185') format('woff'),
       url('iconfont.ttf?t=1650886229185') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuku:before {
  content: "\e67d";
}

.icon-ruku:before {
  content: "\e680";
}

.icon-jichuguanli:before {
  content: "\e61c";
}

.icon-shujutongji:before {
  content: "\e601";
}

.icon-homefill:before {
  content: "\e6bb";
}

.icon-users:before {
  content: "\e600";
}

.icon-danju:before {
  content: "\e89b";
}

.icon-tijikongjian:before {
  content: "\e89f";
}

.icon-baobiao:before {
  content: "\e902";
}

.icon-shangpin:before {
  content: "\e613";
}

.icon-mimadenglu:before {
  content: "\e65f";
}

.icon-denglu:before {
  content: "\e611";
}

